@import "~bootstrap/scss/bootstrap.scss";

.container{
    background: yellowgreen;
}

.top{
    margin: auto;
    height: 50px;
    width: 10px;
    background: black;
}

.trafficLight{
    margin: auto;
    background: black;
    width: 110px;
    border-radius: 10px;
}
.round{
    margin: auto;
    width: 100px;
    height: 100px;
    background: gray;
    border-radius: 100%;
}

.off{
    background-color: gray;
}

.red-on{
    background-color: red;
}
.yellow-on{
    background-color: yellow;
}

.green-on{
    background-color: green;
}